/*estilos da pagina index.html*/
.center{
    text-align: center;
}

#menu li{
    display: inline;
    padding: 30px;
    align-items: center;
}

#menu li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#menu li a:hover{
    color: gray;
}

.p-30{
    padding: 20px;
}

.p-50{
    border-radius: 50%;
}



/*estilos da pagina livros.html*/
.container{
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.justify{
    text-align: justify;
}